@media screen and (max-width: 480px) {
  .container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-main {
    display: flex;
    flex-direction: column;
  }

  .main-coluna-1 {
    width: 100%;
    align-items: center;
  }

  .main-coluna-2 {
    width: 100%;
    padding: 2rem;
  }

  .etiqueta-tasty {
    width: 30%;
    position: relative;
    left: 35%;
  }

  .formularios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .formulario-coluna-1, .formulario-coluna-2{
    width: 100%;
    align-items: center;
  }

  .footer-colunas{
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  .footer-descricao {
    width: 100%;
  }

  .footer-info{
    width: 100%;
  }

  .footer-social{
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }


}